<div id="top-bar">
    <div type="button" class="top-titlebar-back-button" title="Go back" onclick="main.goBack();">
        <span class="glyphicon glyphicon-share-alt"></span>
    </div>
    <div type="button" class="top-titlebar-minimize-button" title="Minimize" onclick="main.minimize();">
        <span class="glyphicon glyphicon-minus"></span>
    </div>
    <div type="button" class="top-titlebar-fullscreen-button" title="Toggle fullscreen" onclick="main.toggleFullScreen();">
        <span class="glyphicon glyphicon-fullscreen"></span>
    </div>
    <div class="top-titlebar-close-button" onclick="main.closeApp();" title="Close Flixtor">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div class="top-titlebar-text">Flixtor</div>
</div>
