<div id="side-bar-full" class="hidden-xs side-bar">
    <ul>
        <li id="side-bar-li-movies" class="on" onclick="main.changeFrame('movies')">
            <a href="#">
                <span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;Movies</a>
        </li>
        <li id="side-bar-li-series" onclick="main.changeFrame('series')">
            <a href="#">
                <span class="glyphicon glyphicon-expand"></span>&nbsp;&nbsp;Series</a>
        </li>
        <li id="side-bar-li-torrents" onclick="main.changeFrame('torrents')">
            <a href="#">
                <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Torrents</a>
        </li>
        <li id="side-bar-li-favorites" onclick="main.changeFrame('favorites')">
            <a href="#">
                <span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;Favorites</a>
        </li>
    </ul>

</div>
<div id="side-bar-small" class="visible-xs side-bar">
    <ul>
        <li id="side-bar-li-movies-sm" class="on" onclick="main.changeFrame('movies')">
            <a href="#">
                <span class="glyphicon glyphicon-film"></span>
            </a>
        </li>
        <li id="side-bar-li-series-sm" onclick="main.changeFrame('series')">
            <a href="#">
                <span class="glyphicon glyphicon-expand"></span>
            </a>
        </li>
        <li id="side-bar-li-torrents-sm" onclick="main.changeFrame('torrents')">
            <a href="#">
                <span class="glyphicon glyphicon-th-list"></span>
            </a>
        </li>
        <li id="side-bar-li-favorites-sm" onclick="main.changeFrame('favorites')">
            <a href="#">
                <span class="glyphicon glyphicon-star"></span>
            </a>
        </li>
    </ul>
</div>
